<header class="pb-1 mb-4 border-bottom">
{{#if avaliacao.id}}
    {{#if usuario}}
        <span class="fs-2 fw-5">Editar Avaliação</span>
    {{else}}
        <span class="fs-2 fw-5">Visualizar Avaliação</span>
    {{/if}}
{{else}}
    <span class="fs-2 fw-5">Nova Avaliação</span>
{{/if}}
    <a id="voltar-ava" class="btn btn-outline-danger mt-3 btn-sm" href="/avaliacoes/" role="button">Voltar</a>
</header>
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <form action="/avaliacoes/nova" method="post">
            <input id="id" name="id" type="hidden" value="{{avaliacao.id}}"/>
            <label for="id_avaliado">Usuário Avaliado:</label>
            <select id="id_avaliado" name="id_avaliado" class="form-control" required {{status2}}>
                {{#each usuarios}}
                    {{#ifCond ../avaliacao.id_usuario_avaliado '==' id}}
                        <option selected value="{{../id}}">{{../nome}}</option>
                    {{else}}
                        {{#ifCond ../../status2 '!=' 'readonly'}}
                            <option value="{{../id}}">{{../nome}}</option>
                        {{/ifCond}}
                    {{/ifCond }}
                {{/each}}
            </select>
            {{#if avaliacao}}
                <label for="id_avaliado">Avaliado Por:</label>
                <select id="id_avaliador" name="id_avaliador" class="form-control" {{status2}}>
                    {{#each usuarios}}
                        {{#ifCond ../avaliacao.id_usuario_avaliador '==' id}} 
                            <option selected value="{{../id}}">{{../nome}}</option>
                        {{else}}
                            {{#ifCond ../../status2 '!=' 'readonly'}}
                                <option value="{{../../id}}">{{../../nome}}</option>
                            {{/ifCond}}
                        {{/ifCond }}
                    {{/each}}
                </select>
            {{/if}}
            <label for="melhorar">Melhorar:</label>
            <textarea type="text" id="melhorar" name="melhorar" class="form-control" rows="4" placeholder="Descreva os pontos a serem melhorados" required {{status}}>{{avaliacao.melhorar}}</textarea>
            <label for="manter">Manter:</label>
            <textarea type="text" id="manter" name="manter" class="form-control" rows="4" placeholder="Descreva os pontos a serem mantidos"required {{status}}>{{avaliacao.manter}}</textarea>
            <label for="sugestoes">Sugestões:</label>
            <textarea type="text" id="sugestoes" name="sugestoes" class="form-control" rows="4" placeholder="Dê sugestões" required {{status}}>{{avaliacao.sugestoes}}</textarea>
            <label for="avaliaco_final">Avaliação Final:</label>
            <textarea type="text" id="avaliaco_final" name="avaliaco_final" class="form-control" rows="4" placeholder="Dê sua avaliação final" required {{status}}>{{avaliacao.avaliaco_final}}</textarea>
            <br>
            {{#unless avaliacao.id}}
                <button type="submit" class="btn btn-success">Criar Avaliação</button>
            {{else}}
                {{#ifCond status '!=' 'readonly'}}
                    {{#ifCond ../avaliacao.id_usuario_avaliador '==' ../user.id}}
                        <button type="submit" class="btn btn-success">Editar Avaliação</button>
                        <a id="bt-exc-ava" class="btn btn-danger px-3" href="/avaliacoes/exc?id={{../avaliacao.id}}&mod=exc" role="button">Excluir Avaliação</a>
                    {{/ifCond}}
                {{/ifCond}}
            {{/unless}}
        </form>
    </div>
</div>