<h3>Nova Avaliação</h3>
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <form action="/avaliacoes/nova" method="post">
            <input id="id" name="id" type="hidden" value="{{id}}" />
            <label for="melhorar">Melhorar:</label>
            <textarea type="text" id="melhorar" name="melhorar" class="form-control" placeholder="Descreva os pontos a serem melhorados">{{melhorar}}</textarea>
            <label for="manter">Manter:</label>
            <textarea type="text" id="manter" name="manter" class="form-control" placeholder="Descreva os pontos a serem mantidos">{{manter}}</textarea>
            <label for="sugestoes">Sugestões:</label>
            <textarea type="text" id="sugestoes" name="sugestoes" class="form-control" placeholder="Dê sugestões">{{sugestoes}}</textarea>
            <label for="avaliaco_final">Avaliação Final:</label>
            <textarea type="text" id="avaliaco_final" name="avaliaco_final" class="form-control" placeholder="Dê sua avaliação final">{{avaliaco_final}}</textarea>
            <br>
            <button type="submit" class="btn btn-success">Criar Avaliação</button>
        </form>
    </div>
</div>